<div class="navbar navbar-inverse navbar-fixed-top"> 
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
		  <img class="imgbrand" src="<%= root_url %>/assets/img/logo.png" height="40" width="40"></img>
		  <a class="brand" href="<%= root_url %>">TrueMD</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="<%= root_url %>">Home</a>
              </li>
              <li class="active">
                <a href="<%= root_url %>api/new">API</a>
              </li>
              <li class="">
                <a href="<%= root_url %>api/documentation">Documentation</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</div>
