<!DOCTYPE html>
<html lang="en">
  <!-- Head Partial -->
  <%= render(:partial => "head")%>
  
   <!-- Navbar-->
  <%= render(:partial => "navbar")%>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  

 
    
			<!-- Main Body Wrapper
			=============================================== -->	
			<div id="wrapper" style="position:relative;height:480px">
						<!-- Logo-->
						
						<br /><br /> 
			<!-- Main Body
			================================================== -->

			<!-- Intro
			=================================================== -->
						
				
			<div class="container-fluid" align="center">
					
					<div class="row">
					<h3>Hi, <%= @apiuser.first_name%></h3><br />
					<h4>Your API Key is:</h4>
					<h4 class="text-info"><%= @apiuser.api_key%></h4>
					<br /> <br />
					<a href= "<%root_url%>/api/documentation">View Documentation </a>
					</div>
				
			</div>
		
			
	</div>



	


    <!-- Footer
    ================================================== -->

    <footer class="footer">
		<hr style="margin-top: 10px;">
      <div class="container">
        
        <div align="center">made with <i style="color: #dd514c"class="icon-heart"></i> by <a href="http://www.github.com/jainaayush05" target="_blank">@aayush</a></div>
		 <div align="center">We are working on something really cool - <a href="http://www.carebook.in/" target="_blank">Carebook</a></div>
        <div align="center"><a href="#inspiration" role="button" data-toggle="modal" >Inspiration</a> | <a href="#disclaimer" role="button" data-toggle="modal" >Disclaimer</a>  | <a href="http://jainaayush.herokuapp.com/let-me-show-you-a-magic-trick/" target="_blank">Blog</a></div>
		<br />
		<hr>
		<br style="padding: 1px;"/>
		
	  </div>
	  
    </footer>
	
	<!--- Modals
	================================================== -->
	<!-- Are Generic Medicines Safe -->
	<div id="isSafe" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 style="font-size: 22px;font-family: 'Josefin Sans', sans-serif;font-weight: bold;" id="myModalLabel"> Generic Medicines</h3>
	  </div>
	  <div class="modal-body">
		<img src="<%= root_url %>/assets/img/infographic.png"></img>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		
	  </div>
	</div>
	
	

	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="<%= root_url %>/assets/js/jquery.js"></script>
    <script src="<%= root_url %>/assets/js/google-code-prettify/prettify.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-transition.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-alert.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-modal.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-dropdown.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-scrollspy.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-tab.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-tooltip.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-popover.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-button.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-collapse.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-carousel.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-typeahead.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-affix.js"></script>
    <script src="<%= root_url %>/assets/js/application.js"></script>




</body></html>
