<!DOCTYPE html>
<html lang="en">
  <!-- Head Partial -->
  <%= render(:partial => "head")%>
  
   <!-- Navbar-->
  <%= render(:partial => "navbar")%>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  

 
    
			<!-- Main Body Wrapper
			=============================================== -->	
			<div id="wrapper" style="position:relative;height:480px">
						<!-- Logo-->
						<div class="container" align="center">
						<section class="main">
									<div class="circular"></div>

									<h3>TrueMD</h3>
									
						</section>
						
						</div>
						<br /><br /> 
			<!-- Main Body
			================================================== -->

			<!-- Intro
			=================================================== -->
						
				
			<div class="container-fluid">
				<div class="row-fluid" >
					<div class="span12" align="center">
						<div align="center">
							<h1 style="font-size: 36px;font-family: 'Josefin Sans', sans-serif;font-weight: bold;">Search from a database of <span class="text-error">1,00,000 +</span> medicines ...</h1>
						</div>
						<br />
						<p style="margin-left: 100px;margin-right: 100px;"></p>
						<!-- Search-->
						<%= render(:partial => "search")%>
						
						<!-- Button to trigger modal -->
						<p style="font-size: 16px">
							<a href="#isSafe" role="button" data-toggle="modal" style="font-size: 22px;font-family: 'Josefin Sans', sans-serif;font-weight: bold;">Are generic medicines safe?</a>
						</p>
						
						<p style="font-size: 22px;font-family: 'Josefin Sans', sans-serif;font-weight: bold;"> Examples :<a href="<%= root_url%>report/show?id=Avakill+%28100+ml%29&tag_ids[]=1">Avakill</a>, <a href="<%= root_url%>report/show?id=Atorva+%2820+mg%29&tag_ids[]=1">Atorva</a>, <a href="<%= root_url%>report/show?id=Voveran+%2875+mg%29&tag_ids[]=1">Voveran</a>, <a href="<%= root_url%>report/show?id=Plavix (75 mg)&tag_ids[]=1">Plavix</a>
						<br />
						
						
						
					</div>
					
				</div>
				
			</div>
		
			
	</div>



	


    <!-- Footer
    ================================================== -->

    <footer class="footer">
		<hr style="margin-top: 10px;">
      <div class="container">
        
        <div align="center">made with <i style="color: #dd514c"class="icon-heart"></i> by <a href="http://www.github.com/jainaayush05" target="_blank">@aayush</a></div>
        <div align="center"><a href="#disclaimer" role="button" data-toggle="modal" >Inspiration</a> | <a href="#disclaimer" role="button" data-toggle="modal" >Disclaimer</a></div>
		
		<br />
		<hr>
		<br style="padding: 1px;"/>
		
	  </div>
	  
    </footer>
	
	<!--- Modals
	================================================== -->
	<!-- Are Generic Medicines Safe -->
	<div id="isSafe" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 style="font-size: 22px;font-family: 'Josefin Sans', sans-serif;font-weight: bold;" id="myModalLabel"> Generic Medicines</h3>
	  </div>
	  <div class="modal-body">
		<img src="<%= root_url %>/assets/img/infographic.png"></img>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		
	  </div>
	</div>
	<!-- Inspiration -->
	<div id="inspiration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 style="font-size: 22px;font-family: 'Josefin Sans', sans-serif;font-weight: bold;" id="myModalLabel"> Satyameva Jayate - Does healthcare need healing?</h3>
	  </div>
	  <div class="modal-body" align="center">
		<iframe width="500" height="315" src="//www.youtube.com/embed/kBXwyclpr9A" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		
	  </div>
	</div>
	<!-- disclaimer -->
	<div id="disclaimer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 style="font-size: 22px;font-family: 'Josefin Sans', sans-serif;font-weight: bold;" id="myModalLabel"> Disclaimer</h3>
	  </div>
	  <div class="modal-body" align="justify">
		<p>While all care has been taken to ensure factual correctness of the data, the contents are for indicative information purposes only and we strongly advise you to consult qualified medical practitioners for authenticating the information.</p>
		<p>
		WE ARE NOT LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE.
		</p>


	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		
	  </div>
	</div>
	
	

	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="<%= root_url %>/assets/js/jquery.js"></script>
    <script src="<%= root_url %>/assets/js/google-code-prettify/prettify.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-transition.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-alert.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-modal.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-dropdown.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-scrollspy.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-tab.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-tooltip.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-popover.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-button.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-collapse.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-carousel.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-typeahead.js"></script>
    <script src="<%= root_url %>/assets/js/bootstrap-affix.js"></script>
    <script src="<%= root_url %>/assets/js/application.js"></script>




</body></html>
